@model IEnumerable<ChatApp.Models.User>
@{
    ViewBag.Title = "Users";

    string getColorClass(string username)
    {
        var hash = username.GetHashCode();
        var colors = new[] { "bg-danger", "bg-warning", "bg-success", "bg-info", "bg-primary", "bg-secondary", "bg-dark", "bg-light" };
        return colors[Math.Abs(hash) % colors.Length];
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<style>
    body {
        background-color: #121212;
        color: white;
        font-family: sans-serif;
    }

    .avatar-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        flex-shrink: 0;
    }

    .list-group-item {
        border: none;
        background-color: #1e1e1e;
        transition: background-color 0.3s;
    }

    .list-group-item:hover {
        background-color: #2a2a2a;
    }


    .card {
        border-radius: 20px;
    }

    .welcome {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="welcome">
    <h2>Welcome, <span class="text-primary">@User?.Identity?.Name</span>!</h2>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger mb-2"><i
            class="fa-solid fa-power-off"></i></a>
</div>

<h4>Chats</h4>

<div class="container">
    <div class="row row-cols-5 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
        @foreach (var user in Model)
        {
            var colorClass = getColorClass(user.Username);
            Console.WriteLine($"Color = {colorClass}");
            <a asp-action="Chat" asp-route-receiver="@user.Username" class="flex-grow-1 text-decoration-none text-light">
                <div class="col">
                    <div class="card text-white @colorClass text-center h-100 position-relative rounded-5">


                        <!-- Avatar -->
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <div class="rounded-circle bg-dark d-flex justify-content-center align-items-center"
                                style="width: 80px; height: 80px; font-size: 2rem;">
                                @user.Username?[0].ToString().ToUpper()
                            </div>

                        </div>

                        <!-- Username -->
                        <div class="card-footer bg-transparent border-0 text-black fw-semibold">
                            @user.Username
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
